<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.SaleMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Sale" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="cust_id" property="custId" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="order_num" property="orderNum" jdbcType="INTEGER" />
    <result column="order_price" property="orderPrice" jdbcType="DOUBLE" />
    <result column="sale_time" property="saleTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_uid" property="createUid" jdbcType="BIGINT" />
    <result column="sale_discount" property="saleDiscount" jdbcType="DOUBLE" />
    <result column="sale_uid" property="saleUid" jdbcType="BIGINT" />
    <result column="desc_info" property="descInfo" jdbcType="VARCHAR" />
    <association javaType="com.pojo.User" property="user">
      <id column="id" jdbcType="BIGINT" property="id" />
      <result column="username" jdbcType="VARCHAR" property="username" />
      <result column="password" jdbcType="VARCHAR" property="password" />
      <result column="telphone" jdbcType="VARCHAR" property="telphone" />
      <result column="email" jdbcType="VARCHAR" property="email" />
      <result column="address" jdbcType="VARCHAR" property="address" />
      <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
      <result column="role_id" jdbcType="BIGINT" property="roleId" />
    </association>
    <association javaType="com.pojo.Customer" property="customer">
      <id column="id" jdbcType="BIGINT" property="id" />
      <result column="user_id" jdbcType="BIGINT" property="userId" />
      <result column="cust_name" jdbcType="VARCHAR" property="custName" />
      <result column="cust_type" jdbcType="INTEGER" property="custType" />
      <result column="telphone" jdbcType="VARCHAR" property="telphone" />
      <result column="net_address" jdbcType="VARCHAR" property="netAddress" />
      <result column="address" jdbcType="VARCHAR" property="address" />
      <result column="cust_status" jdbcType="INTEGER" property="custStatus" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="create_uid" jdbcType="BIGINT" property="createUid" />
      <result column="desc_info" jdbcType="VARCHAR" property="descInfo" />
    </association>
    <association javaType="com.pojo.Goods" property="goods" >
      <id column="id" jdbcType="BIGINT" property="id" />
      <result column="provider_id" jdbcType="BIGINT" property="providerId" />
      <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
      <result column="unit" jdbcType="VARCHAR" property="unit" />
      <result column="cost" jdbcType="DOUBLE" property="cost" />
      <result column="sale_price" jdbcType="DOUBLE" property="salePrice" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="create_uid" jdbcType="BIGINT" property="createUid" />
      <result column="desc_info" jdbcType="VARCHAR" property="descInfo" />
      <result column="goods_img" jdbcType="VARCHAR" property="goodsImg" />
    </association>

  </resultMap>
  <insert id="insert" parameterType="com.pojo.Sale" >
    insert into tb_sale (id, cust_id, goods_id, 
      order_num, order_price, sale_time, 
      create_time, create_uid, sale_discount, 
      sale_uid, desc_info)
    values (#{id,jdbcType=BIGINT}, #{custId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, 
      #{orderNum,jdbcType=INTEGER}, #{orderPrice,jdbcType=DOUBLE}, #{saleTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUid,jdbcType=BIGINT}, #{saleDiscount,jdbcType=DOUBLE}, 
      #{saleUid,jdbcType=BIGINT}, #{descInfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Sale" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Dec 01 12:16:24 CST 2022.
    -->
    insert into tb_sale
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="custId != null" >
        cust_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="orderPrice != null" >
        order_price,
      </if>
      <if test="saleTime != null" >
        sale_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUid != null" >
        create_uid,
      </if>
      <if test="saleDiscount != null" >
        sale_discount,
      </if>
      <if test="saleUid != null" >
        sale_uid,
      </if>
      <if test="descInfo != null" >
        desc_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="orderPrice != null" >
        #{orderPrice,jdbcType=DOUBLE},
      </if>
      <if test="saleTime != null" >
        #{saleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUid != null" >
        #{createUid,jdbcType=BIGINT},
      </if>
      <if test="saleDiscount != null" >
        #{saleDiscount,jdbcType=DOUBLE},
      </if>
      <if test="saleUid != null" >
        #{saleUid,jdbcType=BIGINT},
      </if>
      <if test="descInfo != null" >
        #{descInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectSaleByPage" parameterType="map" resultMap="BaseResultMap">
    select s.id, s.cust_id, s.goods_id ,s.order_num, s.order_price, s.sale_time, s.sale_discount, s.desc_info,
           c.cust_name, g.goods_name, u2.username
    from tb_sale s
    join tb_user u1 on s.create_uid = u1.id
    join tb_user u2 on s.sale_uid = u2.id
    join tb_goods g on g.id = s.goods_id
    join tb_customer c on c.id = s.cust_id
    <where>
      <if test="custName!=null and custName!=''">
        and c.cust_name like '%' #{custName} '%'
      </if>
      <if test="goodsName!=null and goodsName!=''">
        and g.goods_name like '%' #{goodsName} '%'
      </if>
    </where>
    limit #{beginNo}, #{pageSize}
  </select>

  <select id="selectCountOfSale" parameterType="map" resultType="int">
    select count(*)
    from tb_sale s
    join tb_user u on s.create_uid = u.id
    join tb_goods g on g.id = s.goods_id
    join tb_customer c on c.id = s.cust_id
    <where>
      <if test="custName!=null and custName!=''">
        and c.cust_name like '%' #{custName} '%'
      </if>
      <if test="goodsName!=null and goodsName!=''">
        and g.goods_name like '%' #{goodsName} '%'
      </if>
    </where>
  </select>

  <insert id="insertSale" parameterType="com.pojo.Sale" >
    insert into tb_sale (id, cust_id, goods_id,
                         order_num, order_price, sale_time,
                         create_time, create_uid, sale_discount,
                         sale_uid, desc_info)
    values (#{id,jdbcType=BIGINT}, #{custId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT},
            #{orderNum,jdbcType=INTEGER}, #{orderPrice,jdbcType=DOUBLE}, #{saleTime,jdbcType=TIMESTAMP},
            #{createTime,jdbcType=TIMESTAMP}, #{createUid,jdbcType=BIGINT}, #{saleDiscount,jdbcType=DOUBLE},
            #{saleUid,jdbcType=BIGINT}, #{descInfo,jdbcType=VARCHAR})
  </insert>

  <delete id="deleteSaleByIds" parameterType="long">
    delete from tb_sale where id in
    <foreach collection="array" item="id" separator="," open="(" close=")">
      #{id}
    </foreach>
  </delete>

  <select id="selectSaleById" parameterType="long" resultMap="BaseResultMap">
    select s.id, s.sale_uid, s.cust_id, s.goods_id, s.order_num, s.order_price, s.sale_time, s.sale_discount, s.desc_info,
    c.cust_name as cust_name, g.goods_name as goods_name, u2.username as username
    from tb_sale s
    join tb_user u1 on s.create_uid = u1.id
    join tb_user u2 on s.sale_uid = u2.id
    join tb_goods g on g.id = s.goods_id
    join tb_customer c on c.id = s.cust_id
    where s.id=#{id}
  </select>

  <update id="updateSale" parameterType="com.pojo.Sale">
    update tb_sale
    set cust_id=#{custId}, goods_id=#{goodsId},
        order_num=#{orderNum}, order_price=#{orderPrice}, sale_time=#{saleTime},
        sale_discount=#{saleDiscount},
        sale_uid=#{saleUid}, desc_info=#{descInfo}
    where id=#{id}
  </update>



</mapper>